/* Obalovacia div pre obsah, aby pätička zostala dole */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Hlavný obsah sa roztiahne, aby zatlačil pätičku dole */
.main-content {
    flex: 1;
}

/* Nadpis */
h1 {
    color: #ffffff;
}

/* Tabuľka */
table {
    width: 100%;
    margin: 20px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    min-width: 40px;
}

td {
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    color: #333333;
    border: 1px solid #ddd;
    min-width: 40px;
}

/* Tlačidlá */
button {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10%;
}

button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

button:active {
    background-color: #d0d0d0;
    transform: scale(0.98);
}

#anonymizationMethod {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    width: 250px;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 10%;
}

#anonymizationMethod:hover {
    background-color: #e0e0e0;
    border-color: #666;
}

body.dark #anonymizationMethod {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
}

body.dark .nav-container {
    background-color: #1a202c;
}

body.dark .nav-item:hover {
    color: #a0aec0;
}

body.dark table {
    background-color: #1e1e1e;
}

body.dark th {
    background-color: #333333;
}

body.dark td {
    background-color: #555555;
    color: #fff;
    border: 1px solid #444;
}

a {
    color: #1e90ff;
}

a:hover {
    color: #b3b3b3;
}

body.dark button {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body.dark button:hover {
    background-color: #444;
    transform: scale(1.05);
}

body.dark button:active {
    background-color: #555;
    transform: scale(0.98);
}

#home {
    margin: 2% 10% 10% 10%;
}